.input-wrap {
    position: relative;
    /* width: 250px; */
}

.input-wrap input {
    width: 100%;
    height: 38px;
    padding: 8px 35px 8px 10px;
    /* space for right icon */
    font-size: 15px;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s;
}

.input-wrap input:focus {
    border: 1px solid #ccc;
}

.input-wrap input.error {
    border-color: #e74c3c;
    /* red border when error */
}

.input-wrap i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #e74c3c;
    font-size: 16px;
    pointer-events: none;
    /* don’t block typing */
    display: none;
    /* hidden by default */
}